/* Basic styles for structure */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
header {
    background-color: #ffffff;
    padding: 15px;
    color: white;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img {
    width: 300px;
    height: 300px;
}
nav {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #032B43;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    color: #FFBA08;
}
.search-container {
    justify-items: center;
    align-items: left;
}

.search-container input[type="text"] {
    padding: 7px;
    border-radius: 20px;
    border: none;
    width: 250px;
    margin-left: 800px; /* Adds space between the input and button */
}

.search-container button {
    padding: 7px 15px;
    background-color: #FFBA08;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #032B43;
}
header .line {
    height: 4px;
    width: 1220px;
    background-color: #032B43;
}
.main-container {
    display: flex;
    padding: 20px;
}

.content-container {
    width: 75%;
    display: flex;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.recipes h2 {
    color: #032B43;
    width: 100%;
    margin-bottom: 10px;
}

.recipe-card {
    position: relative;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);
    overflow: hidden;
    text-align: center;
    flex: 0 0 calc(33.33% - 20px);
}

.recipe-card img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
    height: auto;
    object-fit: cover;
}

.recipe-card:hover img {
    transform: scale(1.1);
}

.recipe-card .hover-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        border-radius: 8px;
    
}

.recipe-card:hover .hover-overlay {
    opacity: 1;
}
.hover-overlay a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
}
.recipe-card .hover-overlay span {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}


footer {
    background-color: #020122;
    color: white;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: ; /* Stack items vertically */
    align-items: center;   /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

footer p {
    margin: 0;
    padding-bottom: 10px;
    font-size: 14px;
    color: #F7F7FF;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: right;
    gap: 15px;
}

.social-links a {
    display: inline-block;
    text-decoration: none;
}

.social-links img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.social-links img:hover {
    transform: scale(1.1);
}
